llama_index
langchain
langchain-community
langchainhub 
langchain-openai 
chromadb
bs4 
python-dotenv
fastapi
uvicorn
openai
redis
pypdf
python-multipart
pydantic[email]
langchain_community
bs4
moviepy
youtube-transcript-api
python-jose
supabase
pydub
unstructured
pdf2image
pdfminer.six
pillow-heif
opencv-python
pytesseract
Authlib
anthropic
tiktoken
fake_useragent
stripe
jsonify
unstructured[all-docs]
llama-hub
unstructured
pytube
google-generativeai
playwright
groq
pyTelegramBotAPI
langchain_google_genai
wikipedia
xmltodict